h1 {color: red;
}
body {
	font-size: 20px;
	margin: 40px;
	padding: 10px;
	background-color: salmon;
		}
img {
	border: 5px solid black;
	margin: 15px;
}
#openingstatement {
	color: blue;
	font-weight: bold;
	text-align: center;
}
#contact {
	margin: 100px;
}